html{
    background-color: #f7f7f7;
}

.uk-table th{
		font-weight: bolder;
	
}

a.disabled {
    pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

button, select{
    border-radius: 5px !important;
}

.uk-card{
    border-radius: 5px;
    border: 1px solid #dddddd;
}
/*** PHASES FINALES ***/

#phase-container { 
    width: 100%; 
    height: 600px; 
    float: left; 
}

#phase-container-4 { 
    width: 100%; 
    height: 300px; 
    float: left; 
}

#phase-container-16 { 
    width: 100%; 
    height: 1200px; 
    float: left; 
}

section { 
    width: 130px; 
    height: 520px; 
    float: left;
}

#phase-container-16 section { 
    width: 130px; 
    height: 1040px; 
    float: left;
}

section > div { 
    width: 100px; 
    height: 20px; 
    border: 1px solid #000; 
    margin: 10px 0; 
    background: #73789F; 
    color: white; 
    padding: 10px 10px 10px 20px;
}

section > div:nth-child(2n) { 
    margin-bottom: 40px;
}

.connecter { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

#phase-container-16 .connecter { 
    width: 30px; 
    height: 1040px; 
    float: left; 
}

.line { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

#phase-container-16 .line { 
    width: 30px; 
    height: 1040px; 
    float: left; 
}

.connecter div { 
    border: 1px solid #000; 
    border-left: none; 
    height: 50px; 
    width: 100%; 
    margin: 82px 0 0 1px;
}

.connecter div:first-child { 
    margin: 32px 0 0 1px; 
}

#phase-container-16 #conn3.connecter div:first-child { 
    margin: 122px 270px 0 1px; 
}

.line div { 
    border-top: 1px solid #000; 
    margin: 133px 0 0 1px; 
}

.line div:first-child { 
    margin-top: 55px; 
}

#huitiemFinals > div { 
    margin-top: 92px; 
}

#huitiemFinals > div:first-child { 
    margin-top: 37px; 
}

#quarterFinals > div { 
    margin-top: 92px; 
}

#quarterFinals > div:first-child { 
    margin-top: 37px; 
}

#conn2 div { 
    margin-top: 133px; 
    height: 133px;
}

#conn2 div:first-child { 
    margin-top: 57px; 
}

#line2 div { 
    margin-top: 270px; 
}

#line2 div:first-child { 
    margin-top: 125px; 
}
#semiFinals > div { 
    margin-top: 230px; 
}
#semiFinals > div:first-child { 
    margin-top: 105px; 
}
#conn3 div { 
    margin-top: 125px; 
    height: 270px;
}

#conn4 div { 
    margin-top: 270px; 
    height: 540px;
}

#phase-container-16 #conn3 div { 
    margin-top: 273px; 
    height: 270px;
}

#line3 div { 
    margin-top: 270px; 
}

#line4 div { 
    margin-top: 520px; 
}

#final > div { 
    margin-top: 250px; 
}

#phase-container-16 #final > div:first-child { 
    margin-bottom: 500px; 
}

#phase-container-16 #final-16 > div { 
    margin-top: 500px; 
}

/****flash the target object when you navigate to it ****/
.anchor:target {
  /** border: 2px solid orange; ***/
  -webkit-box-shadow:inset 0px 0px 0px 2px orange;
  -moz-box-shadow:inset 0px 0px 0px 2px orange;
  box-shadow:inset 0px 0px 0px 2px orange;
}

.printable{
    display: none;
}

/**** FIN PHASES FINALES ****/

@media print{

    .tooltipster-base.Balloon {
        display: none !important;
    }

    
    .donotprint, header , aside, footer{
       display: none; 
    }
	
    .printable{
        display: block;
    }
	.printable table, .printable th, .printable td{
        border: 1px solid black;
          border-collapse: collapse;
        text-align:center;
    }

    .printable table, .printable tr{
        width: 100%;
    }
	
}