 
    div{

    }

    table {
        width: auto;
        display: table;
        border-collapse: collapse;
        box-sizing: border-box;
        border: none;
        font-size: 14px;
        padding:0;
        

    }

    tr, td{
        padding:0;
        margin:0;
        height: 30px;
    }

    td{
        vertical-align: middle;
        text-align: center;
    }

    .bracket-equipe{
        width: 136px;

    }

    .bracket-edit{
        display:block;
        height:30px;
        text-align: center;
        width: 30px;
        float: right;
    }
	
	.bracket-edit-r{
        display:block;
        height:30px;
        text-align: center;
        width: 30px;
        float: left;
    }

    .bracket-edit img{
        height: 25px;
        padding-top: 2px;
    }

    .bracket-position{
        display:block;
        width: 100px;
        height:30px;
        line-height: 30px;
        font-size: 12px;
        float:left;
    }

    .bracket-equipe-num {
        display:inline-block;
        background-color: rgb(0, 144, 209);
        color: rgb(255, 255, 255);
        font-weight: bold;
        height: 30px;
        width: 100px;
        line-height:30px;
    }
    
    .bracket-equipe-score {
        display:inline-block;
        background-color: rgb(0, 61, 99);
        color: rgb(255, 255, 255);
        height: 30px;
        width: 30px;
        line-height:30px;
    }

    .bracket-vainqueur{
        width: 100px;
		display: inline-block;
    }

    .bracket-haut{
        display:block;
        width: 40px;
        height:30px;
        background-image: url(../img/bracket-h.png);
    }
	
	.bracket-haut-r{
        display:block;
        width: 40px;
        height:30px;
        background-image: url(../img/bracket-hr.png);
    }
    
    .bracket-bas{
        display:block;
        width: 40px;
        height:30px;
        background-image: url(../img/bracket-b.png);
    } 

	.bracket-bas-r{
        display:block;
        width: 40px;
        height:30px;
        background-image: url(../img/bracket-br.png);
    }

    .bracket-t{
        display:block;
        width: 40px;
        height: 30px;
        background-image: url(../img/bracket-t.png);
    }

	.bracket-tr{
        display:block;
        width: 40px;
        height: 30px;
        background-image: url(../img/bracket-tr.png);
    }
    
    .bracket-i{
        display:block;
        width: 40px;
        height: 30px;
        background-image: url(../img/bracket-i.png);
    }

	.arbre_classement{
		column-count: 2;
		clear:both;
	}
	
	.arbre_classement-3 .col {
		display:block;
		width: 665px;
		float:left;
	}
	.arbre_classement-3 {
		display: block;
		width: 100%;
		
	}
	
	div.separator{
		clear: both;
		padding-top: 50px;
	}
